@font-face {
    font-family: 'DMSans';
    src: url('DMSans-Regular.ttf');
}

.button-login{
    -fx-font-family: DMSans;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #5C5FD6;
    -fx-border-color: #4A4DBF;
    -fx-border-width: 1.2px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 10px 14px;
    -fx-pref-height: 42px;
}