/* ===== FONTS ===== */
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.ttf');
    -fx-font-weight: bold;
}

@font-face {
    font-family: 'DMSans';
    src: url('DMSans-Regular.ttf');
}

@font-face{
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Bold.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('Poppins-Light.ttf');
}


.title {
    -fx-font-family: 'CooperHewitt';
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-fill: black;
}

.subtitle {
    -fx-font-family: 'DMSans';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: black;
}
.registration-label {
    -fx-font-family: 'DMSans';
    -fx-font-weight: medium;
    -fx-font-size: 15px;
    -fx-text-fill: #02AFEB;
}

.body-text {
    -fx-font-family: 'PoppinsRegular';
    -fx-font-size: 13px;
    -fx-text-fill: #374151;
}

.caption {
    -fx-font-family: 'PoppinsLight';
    -fx-font-size: 11px;
    -fx-text-fill: #9CA3AF;
}

.error-text {
    -fx-font-family: 'PoppinsRegular';
    -fx-font-size: 12px;
    -fx-text-fill: #EF4444;
}

.text-field-login {
    -fx-font-family: 'PoppinsRegular';
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #9CA3AF;
    -fx-background-color: #F9FAFE;
    -fx-border-color: #D1D5DB;
    -fx-border-width: 1.2px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 10px 14px;
    -fx-pref-height: 42px;
}

.password-field-login{
    -fx-font-family: 'PoppinsRegular';
        -fx-font-size: 14px;
        -fx-text-fill: black;
        -fx-prompt-text-fill: #9CA3AF;
        -fx-background-color: #F9FAFE;
        -fx-border-color: #D1D5DB;
        -fx-border-width: 1.2px;
        -fx-border-radius: 6px;
        -fx-background-radius: 6px;
        -fx-padding: 10px 14px;
        -fx-pref-height: 42px;
}

.splash-screen-title{
    -fx-font-family: 'CopperHewitt';
    -fx-font-weight: bold;
    -fx-font-size: 122px;
    -fx-text-fill: black;
}

.splash-screen-subtitle{
    -fx-font-family: 'CopperHewitt';
    -fx-font-weight: light;
    -fx-font-size: 105px;
    -fx-text-fill: black;
}

.splash-screen-text{
    -fx-font-family: 'DmSans';
    -fx-font-weight: light;
    -fx-font-size: 18px;
    -fx-text-fill: black;
}